---
layout: page
title: Projects
permalink: /projects/
---

<h1>Professional Projects</h1>
<i>Paperless Post and beyond</i>

<div class="posts">
  {% for post in site.categories['professional-projects'] %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="entry">
      </div>
    </article>

  {% endfor %}
</div>
<br>

<hr>


<h1>Personal Projects</h1>
<i>Spoiler alert: it's mostly art</i>

<div class="posts">
  {% for post in site.categories['personal-projects'] %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="entry">
      </div>
    </article>
    
  {% endfor %}
</div>
